<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game List{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'item_style.css' %}">
</head>
<body>
    <header>
        <a class="title" href={% url 'game_list_app:home' %}><h1>Game List</h1></a>
        <h3 class=page-subtitle>{% block sub-title %}{% endblock %}</h3>
        <div class="account-btn">
            {% if not user.is_authenticated %}
                <a href="{% url 'login'%}">Log in</a>
                <a href="{% url 'game_list_app:signup'%}">Sign up</a>
            {% else %}
                <a href="{% url 'game_list_app:profil'%}">Profil</a>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="item_pannel">
            <div class="item_card">
                <ul>
                    <li><h1 class="item_name">{% block item_name %}{% endblock %}</h1></li>
                    <li><div class="item_image">{% block item_image %}{% endblock %}</div></li>
                    <li><p class="item_info">{% block item_info %}{% endblock %}</p></li>
                    <li><div class="btn_item">{% block btn_item %}{% endblock %}</div></li>
                </ul>
            </div>
        </div>
        <div class="left_pannel">
            <div class="list_gestion">
                {% block list_gestion %}{% endblock %}
            </div>
            <div class="review_section">
                {% block review_section %}{% endblock %}
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 cool footer c:</p>
    </footer>
</body>
</html>
