{% extends 'index.html' %}

{% block title %}Game list - {{ publisher }}{% endblock %}

{% block content %}

{% if publisher.image and publisher.image.url %}
	<img src="{{ publisher.image.url }}" alt="{{ publisher.name }} image">
{% endif %}

<h1>{{ publisher.name }}</h1>
<p>Description : {{ publisher.description }}</p>
{% if user_is_owner or user.is_staff %}
	<a class="btn-action" href="{% url 'game_list_app:edit_item' 'publisher' publisher.id %}">Edit</a>
	<a class="btn-action" href="{% url 'game_list_app:delete_publisher' publisher.id %}">Delete</a>
{% endif %}
{% endblock %}